@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');


* {
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
  cursor: url(imagens/patinha-cursor-favicon.png), auto;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #017f85;
  align-items: center;
  background-image: url(imagens/paws\ \(1\).png);
}


h1{
  color: #017f85;
  font-size: 30px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
}

img {
  margin-top:-20px;
  align-self: center;
  width: 200px;
  height: 200px;
}

#conteudo_lateral{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}

#mensagemAlerta{
  color: #d66d8e;
  margin-top: px;
  font-size: 13px;
  font-family:"Comfortaa", sans-serif;
  
}

.input-text,.output-text{
  display: flex;
  align-items: row; 
  box-sizing: border-box;
  padding: 10px;
  width: 400px;
  height: 400px;
  border: solid 3px #017f85;
  border-radius: 30px;
  background-color: bisque;
  text-align: center;
  resize: none;
  outline: none;
  font-size: 16px;
}

textarea:focus{
  border: 3px solid #fd80a8;
}

::placeholder {
  color: #fd80a8;
}

label{
  font-size: 13px;
  color: #d66d8e;
  background-color: #fef0dd;
  font-family: "Comfortaa", sans-serif;
}

.conteudo_principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10% 10%;
  background-color: #fbe8d1;
  border: 3px solid #017f85;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 30px;
  width: fit-content;
  box-shadow: -1px -1px 10px#002f32a1;
}


#botao_criptografar , #botao_descriptografar, #botao_limpar{
  padding: 4px;
  font-family: "Comfortaa", sans-serif;
  font-size: 15px;
  background-color: bisque;
  border-radius: 20px;
  color: #017f85;
  border: solid 2px #017f85;
  width: auto;
  height: 30px;
}

#botao_copiar{
  padding: 4px;
  font-family: "Comfortaa", sans-serif;
  font-size: 15px;
  background-color: #ffe4c4;
  border-radius: 20px;
  color: #017f85;
  border: solid 2px #017f85;
  height: auto;
  width: 400px;
}

#botao_copiar:hover{
  background-color: #d66d8e;
  color: #ffcadb;
  border: 2px solid #904960;
  transition: ease-in-out 0.3s;
}

#botao_criptografar:hover{
  background-color: #d66d8e;
  color: #ffcadb;
  border: 2px solid #904960;
  transition: ease-in-out 0.3s;
}

#botao_descriptografar:hover{
  background-color: #d66d8e;
  color: #ffcadb;
  border: 2px solid #904960;
  transition: ease-in-out 0.3s;
}

#botao_limpar:hover{
  background-color: #d66d8e;
  color: #ffcadb;
  border: 2px solid #904960;
  transition: ease-in-out 0.3s;
}


h2 {
  font-size: 17px;
  background-color: #fef0dd;
  display: block;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  color: #d66d8e;
}

.sobre_mim{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#01666b;
  width: 800px;
  height: fit-content;
  border-radius: 20px;
}

h3{
  font-size: 17px;
  font-family: "Comfortaa", sans-serif;
  color: #fbe8d1;
}


.logos{
  margin-top: 10px;
  width: 32px;
  height: 32px;
}

